@import "tailwindcss";

@theme {
    --color-merlot: #480307;
    --color-taupe: #897D73;
    --color-calacatta: #F6F2EC;
    --color-creme: #D7CFC4;
    --color-redvelvet: #731515;
    --color-onyx: #111111;
}

@font-face {
    font-family: "Heading";
    src: url("./assets/fonts/Moulin-Light-Trial.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Subheading";
    src: url("./assets/fonts/RedHatDisplay-Variable.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Body";
    src: url("./assets/fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Feature";
    src: url("./assets/fonts/CodeSaver-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cherolina";
    src: url("./assets/fonts/Cherolina.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

.font-heading{
    font-family: "Heading", serif;
}

.font-subheading{
    font-family: "Subheading", serif;
}

.font-body{
    font-family: "Body", serif;
}

.font-feature{
    font-family: "Feature", serif;
}

.font-cherolina{
    font-family: "Cherolina", cursive;
}

html,
body,
#root {
    min-height: 100%;
    background: var(--color-taupe);
}

body {
    overflow-x: hidden;
}
