@import "tailwindcss";

@theme {
    --color-merlot: #480307;
    --color-taupe: #897D73;
    --color-calacatta: #F6F2EC;
    --color-creme: #D7CFC4;
    --color-redvelvet: #731515;
    --color-onyx: #111111;
}

@font-face {
    font-family: "Cherolina";
    src: url("./assets/fonts/Cherolina.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Faith";
    src: url("./assets/fonts/faith.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Amoera";
    src: url("./assets/fonts/amoera-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Caviar";
    src: url("./assets/fonts/CaviarDreams.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Caviar";
    src: url("./assets/fonts/CaviarDreams_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Caviar";
    src: url("./assets/fonts/CaviarDreams_Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Caviar";
    src: url("./assets/fonts/CaviarDreams_BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Tropical";
    src: url("./assets/fonts/Tropical.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Hijrnotes";
    src: url("./assets/fonts/Hijrnotes.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.font-cherolina{
    font-family: "Cherolina", cursive;
}

.font-faith{
    font-family: "Faith", cursive;
}

.font-amoera{
    font-family: "Amoera", serif;
}

.font-caviar{
    font-family: "Caviar", serif;
}

.font-tropical{
    font-family: "Tropical", serif;
}

.font-hijrnotes{
    font-family: "Hijrnotes", cursive;
}

html,
body,
#root {
    min-height: 100%;
    background: var(--color-taupe);
}

body {
    overflow-x: hidden;
}
